<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <!-- Root context loader-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/application-context.xml</param-value>
    </context-param>

    <!-- MVC REST Servlet-->
    <servlet>
        <servlet-name>spring-rest-mvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>spring-rest-mvc</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    
    <!-- Spring Security -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- Vaadin -->
    <context-param>
        <param-name>productionMode</param-name>
        <param-value>true</param-value>
        <description>Vaadin production mode</description>
    </context-param>
    
    <servlet>
        <servlet-name>vaadin</servlet-name>
        <servlet-class>
            com.vaadin.server.VaadinServlet
        </servlet-class>
        <init-param>
            <param-name>UI</param-name>
            <param-value>hr.mmaracic.wsimproc.vaadin.ImageVectorizationUI</param-value>
        </init-param>
        <!-- If not using the default widget set-->
        <!--<init-param>
            <param-name>widgetset</param-name>
            <param-value>com.ex.myprj.MyWidgetSet</param-value>
        </init-param>-->
    </servlet>
    <servlet-mapping>
        <servlet-name>vaadin</servlet-name>
        <url-pattern>/vaadin/*</url-pattern>
        <url-pattern>/VAADIN/*</url-pattern>
    </servlet-mapping>    
    
</web-app>
